body {
    margin: 0;
}

#page--container {
    text-align: center;
    width: 80%;
    margin: 20px auto;
    padding: 20px;
}

#profile__img {
    width: 88px;
    height: 88px;
    border-radius: 275px;
}

#profile__name {
    font-size: 20px;
}

#twitter , #slack {
    display: none;
}